html{
    background:#393e4d;
}

body{
    margin:0;
    padding:0;
    color:#f9f2e8;
    font:12px/1 freesans, sans-serif;
}

a, a.visited{
    font-weight:bold;
    color:#f9f2e8;
    text-decoration:none;
}

a.current, a:hover{
    text-decoration:underline;
}

#header_container{
    padding:.6em 0;
    font-size:6em;
    font-family: Georgia, serif;
    text-shadow:1px 1px 4px #000000;
    text-align:center;
}

#header_container a, #header_container a.visited{
    font-weight:normal;
    color:#f9f2e8;
}

#header_container a.current, #header_container a:hover{
    color:#b1aaa0;
    text-decoration:none;
}

#content_container{
    width:32em;
    margin:0 auto;
    font-size:1.2em;
}

.content_post{
    padding-bottom:1.4em;
    text-align:left;
}

.post_sig{
    text-align:right;
}

.post_sig sub{
    vertical-align:bottom;
    font-size:.6em;
}
