<!doctype html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>localpost</title>
        <link rel='stylesheet' href='../static/base_ss.css' />
    </head>
    <body>
        <div id='header_container'>
            <div id='header_center'>
                <div id='header_formatting'>
                    ://<em>localpost</em>/dagoof
                </div>
            </div>
        </div>
        <div id='content_container'>
            <div class='content_formatting'>
                <div class='content_post'>
                    <div class='post_body'>
                        Here's a little notification to all my fans :3
                    </div>
                    <div class='post_sig'>
                        three minutes ago
                    </div>
                </div>
                <div class='content_post'>
                    <div class='post_body'>
                        Playing battlefiend 2 bad company feels like I'm owning dogs in mw2 with every ounce of colones
                    </div>
                    <div class='post_sig'>
                        two hours ago
                    </div>
                </div>
                <div class='content_post'>
                     <div class='post_body'>
                        Here's a little notification to all my fans :3
                    </div>
                    <div class='post_sig'>
                        three minutes ago
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
