{% extends 'base_template.html' %}
{% block scripts %}
<title>localpost.{{ user['name'] }}</title>
{% endblock %}
{% block header %}
:<a href='/list'>localpost</a>.<a href='/user/{{ user["name"] }}'>{{ user['name'] }}</a>
{% endblock %}
{% block content %}
{% for post in posts %}
            <div class='content_post'>{{ post['body'] }}
                <div class='post_sig'>
                    <a href='/note/{{ post["id"] }}'>{{ post['tstring'] }}</a>
                </div>
            </div>
{% endfor %}
{% endblock %}
